#header .slogan {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

#header .slogan span {
    color: #980404;
}

#header {
    margin-top: 1em;
}

#content {
    margin-top: 1em;
}

.navigation {
    margin-top: 5px;
    float: right;
}

h1 {
    margin-bottom: 0.5em;
}

h3 {
    margin: 1em 0 0.5em 0;    
}

.by {
    font-style: italic;
}

ul.entries li {
    margin-bottom: 5px;
}

.meta span.date {
    font-weight: bold;
}

#footer {
    text-align: right;
    margin: 1em 0;
}

#loading {
    line-height: 32px;
    padding-left: 40px;
    background: url(../images/loading2.gif) no-repeat;
}

.friend-name-wrapper {
    position: relative;
}

.friend-name-wrapper h1 {
    margin-left: 60px;
    line-height: 50px;
}

.friend-name-wrapper img {
    position: absolute;
}

ul.friends {
    margin-top: 1em;
}

ul.friends li {
    float: left;
    display: block;
    width: 100px;    
    height: 100px;
    text-align: center;    
    font-size: 95%;
    line-height: 1.2em;
}

.friends li img {
    display: block;
    margin: auto;
}

#footer {
    clear: both;
}