%ul.breadcrumb
  %li.active= 'Home'

%h2 Your Friends
%ul.friends  
  - @friends.each do |friend|    
    %li.friend      
      =friend_link(friend, image_tag(friend_url_picture(friend)))
      =friend_link(friend, friend['name'])      