%ul.breadcrumb
  %li.active= 'Home'

%h2 Your Friends - click to analyze Friend's Feed
%ul.friends
  %li.myself
    =friend_link(@user.to_hash, image_tag(friend_url_picture(@user.to_hash)))
    =friend_link(@user.to_hash, @user.to_hash['name'])      
  - @friends.each do |friend|    
    %li.friend      
      =friend_link(friend, image_tag(friend_url_picture(friend)))
      =friend_link(friend, friend['name'])      