%h2 Your "likes":
- @likes_by_category.each do |category, likes|
  %h3= category
  %ul
    - likes.each do |like|
      %li= like['name']

%h2 Your Friends
%ul
- @friends.each do |friend|
  %li= link_to friend['name'], friend_path(friend['id'])